@import "tailwindcss";

.logo-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Source Sans 3", serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth !important;
}

.bg {
  background-image: url("../public/images/bg5.jpg");
  background-size: cover;
}

.bg2 {
  background-image: url("../public//images/headerbg.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.bg4 {
  background-image: url("../public/images/bg4.jpg");
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

.font-logo {
  font-family: "Playfair Display", serif;
}

@theme {
  --color-btn: #e0b84d;
  --color-icon: #e0b84d;
  --color-secondary: #06402b;
}

@layer base {
  button {
    @apply font-bold hover:scale-105 transition-transform;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  input {
    @apply focus:outline-hidden;
  }
}
